@import "tailwindcss";

@import "flowbite/src/themes/default";


@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .carousel-track {
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
