body{
  background-color: #FFFFFF;
}

hr {
  height: 1px;
  background-color: #9E9E9E;
}

.contenedor {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin: 0px;
}

* { box-sizing: border-box; margin: 0; padding: 0; }
.flexbox { display: flex; }
.flexbox .stretch { flex: 1; }
.flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
.flexbox div input { padding: .5em 1em; width: 100%; }
.flexbox div button { padding: .5em 1em; white-space: nowrap; }

.nopadding{
  padding: 0px;
}

.nomargin{
  margin: 0px;
}

.noBorder{
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}

.header {
  width:100%;     
  align-items: center;
  padding-top: 0pt; 
  padding-bottom: 0pt;
}

.carousel-caption{
  color: #007bff;
}

.authorName {
  height: 6vh;
}