name: CREATOR CI

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  build-web:
    name: Build CREATOR web
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Install dependencies
        uses: ./.github/actions/dependencies
      - name: Build web
        env:
          REPO: ${{ github.event.repository.name }}
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: |
          bun run build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist/

  deploy-pages:
    name: Deploy CREATOR to GitHub Pages
    runs-on: ubuntu-latest
    needs: build-web
    concurrency:
      group: pages
      cancel-in-progress: false
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source
    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
